# =========================================================
# GitHub / Documentation
# =========================================================
# Jika folder .github dan docs memang tidak mau dipush, aktifkan ini:
.github/
docs/manual-coding-guide.md

# =========================================================
# Firebase Admin SDK / Secret Keys
# Jangan push file credential Firebase ke GitHub
# =========================================================
*firebase-adminsdk*.json
pos-coffee-shop-ab302-firebase-adminsdk-fbsvc-dfa4c5c2d7.json
pos-raftelcaffe-firebase-adminsdk-fbsvc-a9ee9b3083*
*.serviceAccount.json
service-account*.json

# =========================================================
# Tools / Local Scripts
# =========================================================
tools/
 /tools/
 
# =========================================================
# Miscellaneous
# =========================================================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history/
.svn/
.swiftpm/
migrate_working_dir/

# =========================================================
# IntelliJ / Android Studio
# =========================================================
*.iml
*.ipr
*.iws
.idea/

# VS Code
# Jika ingin menyimpan setting VS Code lokal, aktifkan:
# .vscode/

# =========================================================
# Flutter / Dart / Pub
# =========================================================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.flutter-plugins-dependencies




# =========================================================
# Flutter generated files
# =========================================================
GeneratedPluginRegistrant.java
GeneratedPluginRegistrant.swift
generated_plugin_registrant.dart

# =========================================================
# Android Build Output
# =========================================================
android/.gradle/
android/build/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/

# APK / AAB
*.apk
*.aab
android/app/build/outputs/
android/app/build/intermediates/
android/app/build/generated/
android/app/build/tmp/
android/app/build/kotlin/

# CXX / NDK build cache
android/app/build/intermediates/cxx/
# =========================================================
# Symbolication / Obfuscation
# =========================================================
app.*.symbols
app.*.map.json

# =========================================================
# Local Environment
# =========================================================
.env
.env.*
local.properties
android/local.properties